<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yota8.dormitorysystem.mapper.HandleRepairMapper">

    <update id="finishRepair">
        update repair
        <set>
            set complete = 1
        </set>
        <where>
            repairId in
            <foreach collection="list" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </where>
    </update>


    <select id="getRepairInfo" resultType="com.yota8.dormitorysystem.bean.RepairBean">
        select dormId,detail,complete,repairId from repair where dormBuild = (select dormBuild from staff where id = #{id});
    </select>

</mapper>
