<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yota8.dormitorysystem.mapper.HandleReturnMapper">

    <update id="insertRecord">
        update student
        <set>
            recordTimes = recordTimes + 1
        </set>
        <where>
            where id = #{id};
        </where>
    </update>


    <select id="getDormBuildStudents" resultType="com.yota8.dormitorysystem.bean.Student">
        select * from student
        <where>
            dormBuild = (select dormBuild from staff where id = #{id})
        </where>
    </select>

</mapper>
