<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yota8.dormitorysystem.mapper.RoommateInfoMapper">
    <!--  根据ID查询信息  -->
    <select id="getRoommateInfo" resultType="com.yota8.dormitorysystem.bean.Student">
        select name, telephone, liveStatus
        from student
        where concat(dormId, dormBuild) = (select concat(dormId, dormBuild) from student where id = #{id});
    </select>


</mapper>