<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yota8.dormitorysystem.mapper.StudentPageMapper">
    <!--  根据ID查询信息  -->
    <select id="getStudentInfoById" resultType="com.yota8.dormitorysystem.bean.Student">
        select * from student where id = #{id}
    </select>



</mapper>